body {
    background-image: url('fondo.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: top;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#game {
    margin: 20px auto;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor legibilidad */
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#feedback {
    margin: 20px 0;
}

#history {
    margin: 20px 0;
}

